<%include header %>
<link rel="stylesheet" href="jquery-ui/jquery-ui.css">
<script src="jquery-ui/jquery-ui.js"></script>
<body>
<%include loggedInHeader %>
<div class="main container">

  <div class="ui active tab" data-tab="usage">

    <form class="ui form segment" action="/readings" method="POST" enctype="multipart/form-data">
      <h4 class="ui dividing header">Submit Water/Electricity Readings</h4>
        <label for="accountNumber">Choose Account Number</label>
        <select class="form-control" name="accountNumber" id="AccId">
        <option selected value=<%= properties[0].accountnumber%>><%= properties[0].accountnumber %></option>
        <% properties.forEach(function(property) { %>
        <option value=<%= property.accountnumber%>><%= property.accountnumber %></option>
    <% }); %>
         <!--load the first elements of the properties object-->
        </select>
        <label for="surname">Surname:</label>
        <input type="text" name="surname" value=<%=properties[0].surname%> readonly />
        <label for="physicaladdress">Address:</label>
        <input type="text" name="physicaladdress" value=<%=properties[0].physicaladdress%> readonly />
        <label for="contacttel">Contact:</label>
        <input type="number" name="contacttel" value=<%=properties[0].contacttel%> readonly />
        <label for="bp">BP:</label>
        <input type="number" name="bp" value=<%=properties[0].bp%> readonly />
        <label for="portion" >Portion:</label>
        <input type="number" name="portion" value=<%=properties[0].portion%> readonly />
        <label for="readingDate">Date</label>
        <input type="date" id="datepicker1" name="readingDate" value="" readonly />
        <br/><hr/>
        <p class="text-info"> Enter your water and/or light readings </p>
        <label for="water"> Water Meter Readings</label>
        <input type="number" name="water" placeholder="0351" min=0351 step=1 required>
        <label for="electricity">Electricity Meter Readings</label>
        <input type="number" name="electricity"  placeholder="134091" min=134091 step=1>
        <hr/>
        <p class="text-info"> Provide a picture of your meter readings [optional] </p>
        <label for ="waterimage">Water Meter Readings Evidence </label>
        <input type="file" value="Upload Evidence" name="waterimage">
        <br>
        <label for ="electricityimage">Electricity Meter Readings Evidence</label>
        <input type="file" value="Upload Evidence" name="electricityimage">
        <hr/>
        <input type="submit" class="btn btn-primary btn-block" value="Submit Readings">
    </form>
	</div>
</div>
<script>
$( document ).ready(function() {
    //automatically set the current date (do we need a timestamp)
    $(function() {
    $("#datepicker1").datepicker({
        dateFormat: "dd-mm-yy"
    }).datepicker("setDate", "0");
  });

    //populate data into input fields based on the account number selected
     $('select[name="accountNumber"]').change(function(){ 

    var searchValue = $('select[name="accountNumber"]').val();
    var properties = <%- JSON.stringify(properties) %>;
    
    for(index = 0; index < properties.length; ++index) {
        if(properties[index].accountnumber == searchValue) {

        //load the values in the input fields

        $('input[name="bp"]').val(properties[index].bp);
        $('input[name="portion"]').val(properties[index].portion);
        $('input[name="contacttel"]').val(properties[index].contacttel);
        $('input[name="physicaladdress"]').val(properties[index].physicaladdress);
        $('input[name="surname"]').val(properties[index].surname);

         }
      }
   });
});
</script>
<%include footer %> </body>
</html>
