<% include header %>

<body>
	<% if ( message == '') { %>

  <%include loggedInHeader  %>
<% } else { %>

 <%=message %>

  <%}%>
<div class="container">
    <div class="row">
   		<div class="col-mid-1">
      	<span class="label label-primary">Readings History</span>
   	  	<br /><br />
   	   	</div>
   	</div>
</div>
<div class="container panel">
   <div class="row">
    <table id="readings" class="table table-hover table-responsive table-bordered">
 	<thead>
 		<tr>
 			<th>#</th>
 			<th>Account</th>
 			<th>Readings Date</th>
 			<th>Water Readings (KL)</th>
 			<th>Electricity Readings (KWh)</th>
 			<th>Email Status</th>
 		</tr>
 	</thead>
 	<tbody>
 	<% for(var i=0; i<previousreadings.length; i++) { %>
        <tr>
        	<td><%= i+1%></td>
        	<td><%= previousreadings[i].account%></td>
        	<td><%= previousreadings[i].date%></td>
        	<td><%= previousreadings[i].water%></td>
        	<td><%= previousreadings[i].electricity%></td>
        	<td><%= previousreadings[i].emailed%></td>
        </tr>
    		<% } %>
     </tbody>
   </table>
    </div>
</div>
   <%include footer %>
</body>
</html>
<script>
$(document).ready(function() {
    $('#readings').dataTable();
} );
</script>

